* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#root {
	display: flex;
	justify-content: center;
}
.App{
	width: 800px;
}
h1{
	text-align: center;
}
.product {
	display: flex;
	padding: 15px;
	border: 2px solid #a79d9d;
	margin-top: 15px;
	justify-content: space-between;
	align-items: center;
}
.statistics{
	display: flex;
	margin-top: 20px;
	color: #696363;
	border: 2px solid #a79d9d;
	padding: 15px 15px;
}
.statistics__count{
margin-right: 30px;
}